#define ICON_SIZE 10
Xft.dpi: 80

Xft.antialias: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

Xcursor.theme: CBPP

XTerm*font: xft:Liberation\ Sans\ Font:Regular:size=12
XTerm*geometry: 80x30
XTerm*internalBorder: 10
XTerm*borderWidth: 0

XTerm*utf8: 1
XTerm*utf8Title: true
XTerm*utf8Fonts: always
XTerm*renderFont: true
XTerm*forceBoxChars: false
XTerm*background: #212121
XTerm*foreground: #F0F0F0
XTerm*dynamicColors: true
XTerm*boldMode: true
XTerm*boldColors: true
XTerm*toolBar: false
XTerm*scrollBar: false
XTerm*fastScroll: true
XTerm*jumpScroll: true
XTerm*multiScroll: true
XTerm*marginBell: false
XTerm*visualBell: false
XTerm*bellIsUrgent: false
XTerm*highlightSelection: true
XTerm*highlightReverse: true
XTerm*cursorBlink: true
XTerm*cursorUnderLine: false
XTerm*cursorColor: reverse

XTerm*loginShell: true
XTerm*ttyModes: erase ^?
XTerm*backarrowKey: false
XTerm*metaSendsEscape: true

XTerm*selectToClipboard: true
XTerm*translations: #override \n\
Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
Ctrl <Key>minus: smaller-vt-font() \n\
Ctrl <Key>plus: larger-vt-font()
