<?xml version='1.0' encoding='utf-8'?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
    <menu id="root-menu" label="Openbox 3">
        <item label="Run Dialog">
            <action name="Execute">
                <execute>gmrun</execute>
            </action>
        </item>
        <separator />
        <item label="Terminal Emulator">
            <action name="Execute">
                <execute>kitty</execute>
            </action>
        </item>
        <item label="Web Browser">
            <action name="Execute">
                <execute>firefox -purgecaches</execute>
            </action>
        </item>
        <item label="File Manager">
            <action name="Execute">
                <execute>pcmanfm-qt</execute>
            </action>
        </item>
        <item label="Text Editor">
            <action name="Execute">
                <execute>featherpad</execute>
            </action>
        </item>
        <item label="Media Player">
            <action name="Execute">
                <execute>vlc --started-from-file</execute>
            </action>
        </item>
        <separator />
        <menu id="accessories" label="Accessories">
            <item label="Virtual Keyboard">
                <action name="Execute">
                    <execute>xvkbd</execute>
                </action>
            </item>
        </menu>
        <menu id="graphics" label="Graphics">
            <item label="Viewnior Image Viewer">
                <action name="Execute">
                    <execute>viewnior</execute>
                </action>
            </item>
            <item label="SimpleScreenRecorder">
                <action name="Execute">
                    <execute>simplescreenrecorder --start-hidden</execute>
                </action>
            </item>
            <separator label="Screenshooter" />
            <item label="Now">
                <action name="Execute">
                    <execute>scrot '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/Pictures/ &amp;amp; viewnior ~/Pictures/$f'</execute>
                </action>
            </item>
            <item label="In 5 Seconds...">
                <action name="Execute">
                    <execute>scrot -d 5 '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/Pictures/ &amp;amp; viewnior ~/Pictures/$f'</execute>
                </action>
            </item>
            <item label="In 10 Seconds...">
                <action name="Execute">
                    <execute>scrot -d 10 '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/Pictures/ &amp;amp; viewnior ~/Pictures/$f'</execute>
                </action>
            </item>
            <item label="Selected Area... (click &amp; drag mouse)">
                <action name="Execute">
                    <execute>scrot -s '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/Pictures/ &amp;amp; viewnior ~/Pictures/$f'</execute>
                </action>
            </item>
        </menu>
        <menu id="multimedia" label="Multimedia">
            <item label="Console CD/DVD Burner">
                <action name="Execute">
                    <execute>kitty --start-as=fullscreen cdw</execute>
                </action>
            </item>
            <item label="VLC Media Player">
                <action name="Execute">
                    <execute>vlc --started-from-file</execute>
                </action>
            </item>
        </menu>
        <menu id="network" label="Network">
            <item label="Filezilla FTP/SFTP client">
                <action name="Execute">
                    <execute>filezilla</execute>
                </action>
            </item>
            <item label="PuTTY SSH/Telnet client">
                <action name="Execute">
                    <execute>putty</execute>
                </action>
            </item>
            <item label="Transmission BitTorrent client">
                <action name="Execute">
                    <execute>transmission-gtk</execute>
                </action>
            </item>
            <item label="IRC Chat">
                <action name="Execute">
                    <execute>kitty irssi</execute>
                </action>
            </item>
            <item label="xtightvncviewer">
                <action name="Execute">
                    <execute>xtightvncviewer</execute>
                </action>
            </item>
        </menu>
        <menu id="office" label="Office">
            <item label="Archive Manager">
                <action name="Execute">
                    <execute>xarchiver</execute>
                </action>
            </item>
            <item label="Calculator">
                <action name="Execute">
                    <execute>kitty bc</execute>
                </action>
            </item>
            <item label="Google Docs">
                <action name="Execute">
                    <execute>x-www-browser http://drive.google.com</execute>
                </action>
            </item>
            <item label="Gnumeric Spreadsheet">
                <action name="Execute">
                    <execute>gnumeric</execute>
                </action>
            </item>
        </menu>
        <separator />
        <menu execute="cbpp-places-pipemenu" id="pipe-placesmenu" label="Places" />
        <menu execute="cbpp-recent-files-pipemenu" id="pipe-recentfilesmenu" label="Recent Files" />
        <separator />
        <menu id="settings" label="Settings">
            <menu execute="cbpp-compositor" id="CompositingPipeMenu" label="Compositor" />
            <menu id="obConfig" label="Openbox">
                <item label="Edit menu.xml">
                    <action name="Execute">
                        <execute>kitty nano ~/.config/openbox/menu.xml</execute>
                    </action>
                </item>
                <item label="Edit rc.xml">
                    <action name="Execute">
                        <execute>kitty nano ~/.config/openbox/rc.xml</execute>
                    </action>
                </item>
                <item label="Edit autostart">
                    <action name="Execute">
                        <execute>kitty nano ~/.config/openbox/autostart</execute>
                    </action>
                </item>
                <separator />
                <item label="Reconfigure">
                    <action name="Reconfigure" />
                </item>
                <item label="Restart">
                    <action name="Restart" />
                </item>
            </menu>
            <item label="Display Settings">
                <action name="Execute">
                    <execute>arandr</execute>
                </action>
            </item>
            <item label="Edit Default Applications">
                <action name="Execute">
                    <execute>cbpp-gksudo kitty update-alternatives --all</execute>
                </action>
            </item>
            <item label="User Interface Settings">
                <action name="Execute">
                    <execute>lxappearance</execute>
                </action>
            </item>
            <item label="Print Settings">
                <action name="Execute">
                    <execute>system-config-printer</execute>
                </action>
            </item>
        </menu>
        <menu id="system" label="System">
            <item label="Task Manager (top)">
                <action name="Execute">
                    <execute>kitty top</execute>
                </action>
            </item>
            <item label="Terminal Emulator (root)">
                <action name="Execute">
                    <execute>cbpp-gksudo kitty</execute>
                </action>
            </item>
        </menu>
        <menu id="help" label="Help" execute="cbpp-help-pipemenu" />
        <separator />
        <item label="Lock Screen">
            <action name="Execute">
                <execute>slock</execute>
            </action>
        </item>
        <menu id="ExitPipeMenu" label="Exit" execute="cbpp-exit"  />
    </menu>
</openbox_menu>
